{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../template.njk" %}

{% block pageTitle %}All Tasks - HMCTS Task Management{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">All Tasks</h1>
      
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There was a problem",
          errorList: [
            {
              text: error
            }
          ]
        }) }}
      {% endif %}
      
      {{ govukButton({
        text: "Create New Task",
        href: "/tasks/new"
      }) }}
      
      {% if tasks.length > 0 %}
        {{ govukTable({
          head: [
            { text: "Title" },
            { text: "Status" },
            { text: "Due Date" },
            { text: "Actions" }
          ],
          rows: tasks | map(task => [
            { html: '<strong>' + task.title + '</strong>' + (task.description ? '<br><span class="govuk-hint">' + task.description + '</span>' : '') },
            { html: '<span class="govuk-tag ' + 
              (task.status === 'PENDING' ? 'govuk-tag--blue' : '') + 
              (task.status === 'IN_PROGRESS' ? 'govuk-tag--yellow' : '') + 
              (task.status === 'DONE' ? 'govuk-tag--green' : '') + 
              (task.status === 'CANCELED' ? 'govuk-tag--grey' : '') + 
              '">' + task.status + '</span>' },
            { text: task.dueDate | date("DD/MM/YYYY HH:mm") },
            { html: '<a href="/tasks/' + task.id + '/edit" class="govuk-button govuk-button--secondary">Edit</a> ' + 
              '<form action="/tasks/' + task.id + '/delete" method="POST" class="govuk-!-display-inline">' + 
              '<button type="submit" class="govuk-button govuk-button--warning" onclick="return confirm(\'Are you sure you want to delete this task?\')">Delete</button>' + 
              '</form>' }
          ])
        }) }}
      {% else %}
        <p class="govuk-body">No tasks found. Create a new task to get started.</p>
      {% endif %}
      
      <p class="govuk-body">
        <a href="/" class="govuk-link">Return to Home</a>
      </p>
    </div>
  </div>
{% endblock %}