{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../template.njk" %}

{% block pageTitle %}All Tasks - HMCTS Task Management{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">All Tasks</h1>
      
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There was a problem",
          errorList: [
            {
              text: error
            }
          ]
        }) }}
      {% endif %}
      
      {{ govukButton({
        text: "Create New Task",
        href: "/tasks/new"
      }) }}
      
      {% if rows and rows.length > 0 %}
        <h2 class="govuk-heading-l">All Tasks</h2>

        {{ govukTable({
          caption: "List of Tasks",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            { text: "Title" },
            { text: "Status" },
            { text: "Due Date" },
            { text: "Actions" }
          ],
          rows: rows
        }) }}
      {% else %}
        <p class="govuk-body">No tasks available.</p>
      {% endif %}
      
      <p class="govuk-body">
        <a href="/" class="govuk-link">Return to Home</a>
      </p>
    </div>
  </div>
{% endblock %}